p {
  text-align: justify;
}
h3 {
  font-size: 45px;
}
.topMargin {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  background-color: #ffd5cd;
  height: 100vh;
}
.about {
  background-color: #efbbcf;
  height: 100vh;
}
.services {
  background-color: #c3aed6;
  height: 100vh;
}
.special {
  background-color: #8675a9;
  height: 100vh;
}
.contact {
  background-color: #fafcc2;
  height: 100vh;
}
